.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, Minmax(400px, 1fr));
}

.box {
    border: 2px solid red;
    background-color: lightgreen;
    padding: 23px;
}