.container {
    display: grid;
    gap: 0.5rem;
    grid-template-areas: 
    'nav nav nav nav'
    'section section section aside'
    'foo foo foo foo';
}

.border-now {
    border: 2px solid;
    padding: 23px;
    background-color: wheat;
}

nav {
    grid-area: nav;
}

section {
    grid-area: section;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: foo;
    text-align: center;
}

@media screen and (max-width: 400px) {
    body {
        background-color: red;
    }
    .container {
        grid-template-areas: 
        'nav nav nav nav'
        'section section section section'
        'aside aside aside aside'
        'foo foo foo foo';
    }
    aside {
        display: none;
    }
}

@media screen and (man-width: 401px) and (max-width: 800px){
    body {
        background-color: green;
    }
    .container {
        grid-template-areas: 
        'nav nav nav nav'
        'section section section section'
        'aside aside aside aside'
        'foo foo foo foo';
    }
}

@media screen and (man-width: 801px) and (max-width: 1200px) {
    body {
        background-color: yellow;
    }
}

@media screen and (min-width: 1201px) {
    body {
        background-color: blue;
    }
}