.navbar {
    width: 100vh;
    height: 200px;
    border: 2px solid red; 
    background-color: aqua; 
}

.navbar img {
    display: inline;
    width: 20vh;
    margin: 20px 10px 20px 10px;
}

.navbar ul li{
    list-style: none;
    float: right;
} 

.body {
    width: 100vh;
    height: 500px;
    border: 2px solid red;
}

.body img {
    width: 100vh;
    height: 500px;
}

.footer {
    width: 100vh;
    height: 500px;
    border: 2px solid red; 
    background-color: aqua;
}

.footer img {
    width: 30vh;
    height: 300px;
    display: flexbox;
  
}