#myDiv {
    width: 150px;
    height: 150px;
    background-color: aqua;
    position: absolute;
    right: 20px;
    top: 20px;
    border: 2px solid red;
}

#myDiv2 {
    width: 150px;
    height: 150px;
    background-color: rebeccapurple;
    position: absolute;
    left: 20px;
    top: 20px;
    border: 2px solid red;
}

#myDiv3 {
    border: 2px solid;
    width: 150px;
    height: 150px;
    background-color: bisque;
    left: 40px;
    top: 40px;
    position: sticky;
}