.container {
    height: 900px;
    width: 100%;
    border: 2px solid;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    background-color: aqua;
    border: 2px solid;
    width: 200px;
    height: 200px;
    margin: 20px;
}