/* 2D tranformation */

#wrapper {
    padding: 20px;
    margin: 20px;
}

a {
    text-decoration: none;
    background-color: lightcoral;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    transform: rotate(30deg);
}

a:hover {
    transform: translateY(100px);
    transform: rotate(20deg);
    transform: rotate(0.5turn);
    transform: rotate(-30deg);
    transform: scale(0.8);
    /* for the width */
    transform: scaleX(2);
    /* for the height */
    transform: scaleY(2);
}

.box {
    background-color: blanchedalmond;
    border: 2px solid;
    width: 400px;
    height: 400px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    transform: rotate(90deg);
    transform: scale(0.8);
    transform: translateX(123px);
    transform: translateY(123px);
    transform: translate(123px, 123px);
}

/* 3D transformation */

#cover {
    width: 200px;
    height: 200px;
    border: 2px solid red;
    margin: 150px auto;
}

#content {
    width: 200px;
    height: 200px;
    background-color: yellowgreen;
    transform: perspective(300px) rotate3d(50, 0, 0, 20deg);
    transform: perspective(300px) rotate3d(0, 50, 0, 20deg);
    transform: perspective(300px) rotate3d(0, 0, 50, 20deg);
    transform: perspective(300px) rotate3d(0, 0, 40, 30deg);
    transform: perspective(300px) rotate3d(50, 0, 0, 20deg) translate3d(0px, 50px, 0px, 50px);
    transform: perspective(300px) rotate3d(50, 0, 0, 20deg) translate3d(0px, 50px, 0px, -50px);
}